@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
    
}

main{
    padding: 20px;
    box-shadow: 0 1px 1px rgb(145, 104, 104);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

input{
    padding: 5px;
    outline: none;
    accent-color: rgb(226, 43, 150);
    border-color: rgb(226, 43, 150);
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
}

input[type=range]{
    width: 90%;
}

button{
    background-color: rgb(226, 43, 150);
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px;
}